
.landing-container{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #065B3C;
    flex-direction: column;
    min-height: 65rem;
}   
.landing-content{
    padding:0 ;
    margin:0 ;
    overflow-x: hidden;

}

.logo-container{
    max-width: 16%;
    left: 66px; 
    position: absolute
}

.logo-container .nav-logo {
    width: 100%;  
}

.nav {
    display:flex;
    max-width: 50%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav-bar {
    display: flex;
    align-items: center;
    height: 30px; 
    left: 60%; 
    top: 10px; 
    position: absolute;
    padding: 1.8rem;
}

.nav-link {
    padding: 10px;
    font-family: Poppins;
    font-style: normal;
    text-decoration: none;
    margin-right: 10px;
    position: relative;
    top: 0px; 
    height: 30px;
    text-align: center; 
    color: #F5DBDE; 
    font-size: 1.5rem; 
    font-family: Poppins; 
    font-weight: 400; 
    word-wrap: break-word ;
    white-space: nowrap;
}

.nav-link:hover {
    color: #a2a2a2;
}

.landing-body {
    width: 100%; 
    position: relative;
}

.landing-body .about1{ 
    top: 100px!important;
    height: 180px; 
    top: 190px;
}

.landing-body .about2{
    height: 330px;
    top: 360px!important;
}

.landing-body .about1, .about2 {
    width: 33%;  
    left: 55%; 
    position:absolute;
    color:white;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 25px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    background: rgb(96, 201, 131, 0.15);
    box-shadow: 4px 4px 4px rgba(0.25, 0.25, 0.25, 0.25); 
    border-radius: 18px;
    transition: background 0.3s ease, transform 0.3s ease;
}
.landing-body p{
    margin-bottom: 40px;
    margin-top: 50px;
}
.landing-body .about1:hover, .about2:hover{
    background: rgb(96, 201, 131, 0.25);
    transform: scale(1.01);
}
.landing-img1{
    height: 436px;  
    top: 100px; 
}

.landing-img2 {
    top: 585px; 
    height: 296px; 
}
.landing-img1, .landing-img2{
    left: 100px;
    width: 649px; 
    position: absolute; 
    border-radius: 18px;
    transition: transform 0.3s ease;
}
.landing-img1:hover, .landing-img2:hover{
    transform: scale(1.01);
}
.line{
  width: 100%;
  height: 100px;
  border: 1px white solid;
}
/* ------------------------------------------footer css start----------------------------------------------------------------------------------- */
.footer-container{
    padding-top: 57px; 
    padding-bottom: 60px; 
    padding-left: 132px; 
    padding-right: 192px; 
    background: #12101D;
    justify-content: flex-start;
    align-items: center; 
    display: inline-flex
}
.footer-disc{
    color: white; 
    font-size: 16px; 
    font-family: Open Sans; 
    font-weight: 400;
    word-wrap: break-word"
}

  
  .footer-container {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
  }
  
  .footer-section {
  
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
  .footer-heading {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
  }
  #footer-logo {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    word-wrap: break-word;
  }
  
  .footer-disc {
    color: white;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .social-icon {
    width: 24px;
    height: 24px;
    position: relative;
   
  }
  
  .divider {
    width: 48px;
    height: 0;
    border: 1px white solid;
  }
  
  .footer-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
  }
  
  .link-text {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    word-wrap: break-word;
    color: white;

  }
.link-text a{
    color: white !important;
    text-decoration: none;
  }
  .copyright{
    color: white;
    font-size: 20px;
    font-family: Open Sans;
    font-weight: 400;
     word-wrap: break-word
  }
  /* ------------------------------------------footer css end----------------------------------------------------------------------------------- */